apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: pipeline
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
        prometheus.io/path: "/metrics"
    spec:
      containers:
      - name: backend
        image: shahryar371/pipeline-backend:latest
        ports:
        - containerPort: 8000
        env:
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: pipeline-secret
              key: JWT_SECRET
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: pipeline-secret
              key: DATABASE_URL
        - name: ALGORITHM
          valueFrom:
            configMapKeyRef:
              name: pipeline-config
              key: ALGORITHM
        - name: ACCESS_TOKEN_EXPIRE_MINUTES
          valueFrom:
            configMapKeyRef:
              name: pipeline-config
              key: ACCESS_TOKEN_EXPIRE_MINUTES
        - name: ALLOWED_ORIGINS
          valueFrom:
            configMapKeyRef:
              name: pipeline-config
              key: ALLOWED_ORIGINS
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
        readinessProbe:
          httpGet:
            path: /hello
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /hello
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 20
